/*TWO SECTION*/

/*.header-two {
    font-weight: 700;
    font-size: 36px;

}*/
.section {
  padding: 120px 0;
}

.description-list {
  display: flex;
  gap: 24px;
}

.description-list li {
  width: 264px;
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f52;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-item {
  font-size: 16px;
  margin-top: 8px;
}

/*
p {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}
*/
