.footer-warp {
  background-color: #2e2f42;
}

.footer-warp .logo-span {
  color: #f4f4fd;
}

.footer-smalltext {
  color: #f4f4fd;
  width: 264px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.footer-warp .nav-logo {
  padding: 0;
  margin-bottom: 16px;
}
