.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: block;
  padding: 24px 0;
}
.header-class .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav {
  display: flex;
  gap: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;
}

.logo-span {
  color: #2e2f42;
}

.address-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  font-style: normal;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  display: block;
  padding: 24px 0;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.nav-list a {
  font-weight: 500;
}
