@import "./sections/common.css";
@import "./sections/section-one.css";
@import "./sections/section-two.css";
@import "./sections/section-three.css";
@import "./sections/section-four.css";
@import "./sections/footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
