.common {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1 solid;
  height: 72px;

  background-color: red;
}

.site-nav {
  display: flex;
  align-items: center;

  color: #2f4242;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-logo {
  width: 115px;
  height: 24px;
  gap: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 261px;
  height: 24px;
  gap: 40px;
}

.nav-list a {
  font-weight: 500;
}

.nav-item {
  color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.address-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  font-style: normal;
}

.address-list {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
}
