/* first section */
.section-one {
  background-color: #2e2f42;
}

.title-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
}

.text-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
}

.text-btn:hover,
.text-btn:focus {
  background-color: #404bbf;
}
