.section-four {
  background-color: red;
}

.section-four li {
  list-style-type: none;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  width: 218px;
  height: 40px;
  padding: 120px 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.portfolio-card li {
  width: 360px;
  height: 420px;
}

.portfolio-card .portfolio-img {
  width: 360px;
  height: 300px;
}
